.application {
	display: flex;
	position: fixed;
	z-index: 5;
	align-items: center;
	height: 80vh;
	width: 55vw;
	background-color: $color-white-1;
	border-radius: 10px;
	box-shadow: $shadow-dark;
}

.container {
	&--main {
		height: 90%;
		flex-basis: 70%;

		&__header {
			display: flex;
			height: 10%;
			justify-content: center;

			&__text {
				font-size: 4rem;
				font-weight: 400;
				font-style: italic;
			}
		}
	}

	&--options {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 90%;
		flex-grow: 1;
		border-left: $border-1;
	}
}

.options {
	&--main {
		display: flex;
		margin-top: 2rem;
		flex-direction: column;
	}

	&--secondary {
		display: flex;
		margin-bottom: 2rem;
		flex-direction: column;
	}
}

.to-do-list {
	display: flex;
	flex-direction: column;

	height: 90%;
	align-items: center;
	font-size: 2.75rem;
	color: $color-grey-2;
}

.new-to-do-popup {
	display: flex;
	position: absolute;
	left: -9%;
	top: 30%;
	height: 35vh;
	width: 65vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: $shadow-dark;
	z-index: 10;
	// background-color: $color-white-1;

	background-color: #1b1b1b;
	color: $color-white-1;

	&__exit {
		position: absolute;
		top: 5%;
		right: 2%;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__label {
		font-size: 3rem;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 3rem;
	}

	&__input {
		border: $border-1;
		border-radius: 10px;
		height: 5rem;
		width: 45vw;
		padding: 0 2rem;
		font-size: 2.2rem;
	}
}
